// @charset "utf-8";

// $boxShadowFilterWrapper:0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
// $borderFilterWrapper:1px solid #e0e0e0;
// $backgroundFilterWrapper: #ffffff;

// @mixin wrapper-size($w,$h){
//   width: $w;
//   height: $h;
// }

// .filter-wrapper {
//   display: "inline-block";
//   @include wrapper-size(200px,238px);
//   padding: 11px 12px 0 12px;
//   background: $backgroundPopWrapper;
//   border: $borderPopWrapper;
//   box-shadow: $boxShadowPopWrapper;
//   border-radius: 2px;

//   div {
//     display: inline-block;
//   }
// }

.filter-wrapper {
  display: inline-block;
  position: relative;
  max-width: 200px;
  height: 32px;
  margin: 10px;
  padding: 5px 24px 6px 8px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}

.pop-filter {
  // @include wrapper-size(200px,238px);
  width: 200px;
  height: 238px;
  padding: 11px 12px 0 12px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

.main-filter {
  display: inline-block;
  max-width: 145px;
  padding: 0;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;

  .len-limited {
    float: left;
    max-width: 145px;
  }

  .main-filter-icon{
    float: right;
    width: 24px;
    height: 24px;
    margin: 4px 0;
  }
}
